.employees-table-title {
    padding: 2em 2em 0 2em;

    & h2 {
        margin-bottom: 0;
    }
}

.employees-table-container {
    padding: 2em;
}

.employees-table-filter {
    width: 100%;
}

.employees-table {
    width: 100%;
}
